.toolbar{
  display: flex;
}
.imagen1{
  margin: 5px;
}

.imgMe{
  border-radius: 50%;
}

.titulo{
text-align: center;
margin-left: 32%;
}

.imagen2{
  position: absolute;
  right: 0%;
  margin: 5px;
}

