<footer class="bg-dark text-center text-white">
  <!-- Section: Social media -->
  <section class="mb-4">
    <!-- Linkedin -->
    <a
      class="btn btn-outline-light btn-floating m-1"
      href="https://es.linkedin.com/in/jmrr92?trk=people_directory"
      target="blank"
      role="button"
      ><i class="fab fa-linkedin-in"></i>
    </a>

    <!-- Github -->
    <a
      class="btn btn-outline-light btn-floating m-1"
      href="https://github.com/jmrr92"
      target="blank"
      role="button"
      ><i class="fab fa-github"></i>
    </a>

    <!-- Twitter -->
    <a
      class="btn btn-outline-light btn-floating m-1"
      href="https://twitter.com/letmhearthebass"
      target="blank"
      role="button"
      ><i class="fab fa-twitter"></i>
    </a>
  </section>
</footer>
